@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --white-color: white;
    --gray-color: rgb(230, 230, 230);
    --sky-blue-color: rgb(0, 150, 255);
    --blue-color: rgb(0, 100, 255);
}

body {
    width: 100%;
    margin: auto;
    font-family: "Lexend", sans-serif;
}

/* Login */
.login-div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: solid 2px var(--gray-color);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 0px 5px var(--gray-color);
    text-align: center;
    box-sizing: border-box;
}

.login-div input {
    width: 100%;

    box-sizing: border-box;
    border: solid 2px var(--gray-color);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 1em;
    font-size: 18px;
    outline-color: var(--sky-blue-color);
}

.login-div input[type="submit"] {
    background-color: var(--sky-blue-color);
    color: var(--white-color);
    cursor: pointer;
    transition: 300ms;
}

.login-div input[type="submit"]:hover {
    background-color: var(--blue-color);
}

